@import url('https://fonts.googleapis.com/css2?family=Outfit:wght@300;400;500;600;700&display=swap');

@import 'tailwindcss/base';
@import 'tailwindcss/components';
@import 'tailwindcss/utilities';


@media print {

  body * {
    visibility: hidden;
  }

  #printable-receipt, #printable-receipt * {
    visibility: visible;
  }

  #printable-receipt {
    position: absolute;
    top: 0;
    left: 0;
    width: 80mm;
  }

  /* 🔥 CRITICAL FIXES */
  .print-area {
    overflow: visible !important;
    height: auto !important;
  }

  table {
    page-break-inside: avoid;
  }

  tr {
    page-break-inside: avoid;
  }

  div {
    page-break-inside: avoid;
  }
}